---
import Layout from '../../layouts/ArticlesLayout.astro';
import { getCollection } from 'astro:content';
import { categoriesArticles } from '../../consts';
import Search from "astro-pagefind/components/Search";

let slices = 0;
let sliceSize = 12;

let articles = (await getCollection('articles')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

let articlesCount = articles.length + 1;

for (let i = 0; i < articles.length; i += sliceSize) {
    slices++;
}

articles = articles.slice(0, sliceSize);

---

<Layout title="Cтатьи про разработку программного обеспечения, образование и IT в целом" description="Погрузитесь в мир разработки. Узнайте что такое технический долг, качества хорошего разработчика и важность развития логического мышления. Улучшайте свои навыки программирования!" keywords="PEP 8, разработка, технический долг, программирование, качества разработчика, логическое мышление, python, javascript, php, code monkey, фундаментальные знания">	
	<h1 class="text-4xl lg:text-5xl text-left py-14 pb-0">Статьи</h1>
	<h2 class="font-semibold">Про разработку программного обеспечения, образование и IT в целом.</h2>

	<p class="mt-4 text-xs">
		&#9655; Подпишитесь, чтобы быть в курсе выхода моих новых статей в вашем любимом <a href="/articles/rss.xml">RSS-ридере</a>.
	</p>

	<p class="mt-4 text-xs">
		Всего статей: {articlesCount}
	</p>

	<div class="border-b-2 border-solid border-black py-10 pt-3">
		<Search id="search" className="pagefind-ui" 
				uiOptions={{ showImages: false, 
							pageSize: 3
							}} />
	</div>

	<div class="text-left py-4 border-b-2 border-solid border-black flex flex-wrap">{
		Object.keys(categoriesArticles).map((category, i) => (
			<a href=`/articles/categories/${category}/` class="p-2 no-underline"><span class="bg-gray-200 px-3 py-1 text-sm">{categoriesArticles[category].title}</span></a>
		))
	} </div>
	<div>
	{
		articles.map((note, index) => (
			<div class=`lg:flex ${index < articles.length - 1 ? "border-b border-dashed border-slate-500" : ""} py-4 items-center`>
				<div class="lg:w-9/12 w-full pb-0 pt-0">
					<a href=`/articles/${note.slug}/` class="text-xl no-underline hover:underline">{note.data.title}</a>
				</div>
				<div class="lg:w-3/12 mt-4 lg:mt-0 w-full lg:text-right pb-0 pt-0">
					{
						note.data.categories.map((category) => (
								<a href=`/articles/categories/${category}/` class="bg-gray-200 px-3 py-1 lg:ml-2 no-underline text-sm">
									{categoriesArticles[category]['title']}
								</a>
							)
						)
					}
				</div>
			</div>
		))
	}
	</div>

	<div class="py-4 border-t-2 border-solid border-black flex justify-between items-center">
		<a class="bg-gray-200 px-3 py-1 no-underline text-sm opacity-40 cursor-not-allowed" href=`javascript:;`>Назад</a>
		1 / {slices}
		<a class="bg-gray-200 px-3 py-1 no-underline text-sm" href="/articles/2/">Дальше</a>
	</div>
</Layout>