---
import { getCollection } from "astro:content";
import Layout from "../../../layouts/ArticlesLayout.astro";
import { categoriesArticles } from '../../../consts';

export async function getStaticPaths() {
  const allarticles = await getCollection("articles");
  const uniqueTags = [...new Set(allarticles.map((note) => note.data.categories).flat())];

  return uniqueTags.map((category) => {
    const filteredPosts = allarticles.filter((note) =>
      note.data.categories.includes(category)
    );
    return {
      params: { category },
      props: { articles: filteredPosts },
    };
  });
}

const { category } = Astro.params;
let { articles } = Astro.props;

articles.sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<Layout title={`Статьи в категории ${categoriesArticles[category].title}` ?? ""} description=`Статьи в категории ${categoriesArticles[category].title}` keywords=`${category}`>
	<h1 class="py-14 text-2xl lg:text-5xl text-left block   border-b-2 border-solid border-black">Статьи <br>в категории "{categoriesArticles[category ?? ""].title}"</h1>
	<div class="text-left text-xl  border-b-2 border-solid border-black py-10">{
		<span><a href=`/articles/` class="bg-gray-200 px-3 py-1 mr-2 no-underline text-sm">Все статьи</a></span>
	} </div>
	<div>
		{
			articles.map((note, index) => (
				<div class=`flex ${index < articles.length - 1 ? "border-b border-dashed border-slate-500" : ""} py-4 items-center`>
					<div class="w-full pb-0 pt-0">
						<a href=`/articles/${note.slug}/` class="text-xl no-underline hover:underline">{note.data.title}</a>
					</div>
				</div>
			))
		}
	</div>
</Layout>