--- 
interface Props {
	title: string;
	description: string;
	keywords: string;
}

const currentPath = Astro.url.pathname;

const { title, description, keywords } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" data-theme="lofi" class="text-[18px] lg:text-[20px]">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description}>
		<meta name="keywords" content={keywords}>
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="yandex-verification" content="a1d97fb868e5cf5e" />
		<meta property="og:locale" content="ru_RU">
		<meta property="og:title" content={title}>
		<meta property="og:site_name" content="awilum.ru">
		<meta property="og:url" content={currentPath}>
		<meta property="og:description" content={description}>
		<meta property="og:type" content="website">
		<title>{title}</title>
		<link rel="sitemap" href="/sitemap-index.xml" />
	</head>
	<body class="p-4 lg:p-0">
		<div class="lg:flex bg-base-100 max-w-[1200px] mx-auto lg:mt-10 items-center">
			<div class="text-left lg:text-center uppercase text-2xl mr-4 mb-6 lg:mb-0">
			  <a class="block font-black underline" href="/">awilum.ru</a>
			</div>
			<div class="lg:flex text-left lg:text-center w-full lg:text-2xl text-xl uppercase">
				<a class="font-bold px-2 pl-0 lg:px-2 lg:px-4 underline" href="/articles/">Статьи</a>
				<a class="font-bold px-2 lg:px-4 underline" href="/courses/">Курсы</a>
			    <a class="font-bold px-2 lg:px-4 underline" href="/about/">Об авторе</a>
			</div>
		</div>
		<div class="max-w-[1200px] mx-auto">
		  	<slot />
		</div>
		<footer class="max-w-[1200px] mx-auto py-12 mb-10 border-t-2 border-black">
			<p>
				<span class="mr-1 font-bold">Курсы:</span>
				<a href="https://stepik.org/a/134850" class="underline mr-2">JavaScript Базовый уровень</a>
				<a href="https://stepik.org/a/177315" class="underline mr-2">JavaScript Продвинутый уровень</a>
				<a href="https://stepik.org/a/172576" class="underline mr-2">JavaScript Тренажер</a>
				<a href="/courses/" class="underline">Все курсы</a>
			</p>
			<p>
				<span class="mr-1 font-bold">Статьи:</span>
				<a href="/articles/the-role-of-programming-language-in-software-creation" class="underline mr-2">Роль языка программирования в создании программного обеспечения</a>
				<a href="/articles/programming-is-not-just-about-knowing-a-programming-language" class="underline mr-2">Программирование – это не только знание языка программирования</a>
				<a href="/articles/the-importance-of-theory-and-practice-when-learning-programming" class="underline mr-2">Важность развития логического мышления для программиста</a>
				<a href="/articles/" class="underline">Все статьи</a>
			</p>
			<p class="flex flex-wrap">
				<span class="mr-1 font-bold">Ссылки:</span>
				<a target="_blank" href="https://twitter.com/awilum_" class="underline mr-2">Twitter</a>
				<a target="_blank" href="https://github.com/Awilum" class="underline mr-2">GitHub</a>
				<a target="_blank" href="https://www.linkedin.com/in/sergey-romanenko/" class="underline mr-2">LinkedIn</a>
				<a target="_blank" href="https://awilum.t.me" class="underline mr-2">Telegram</a> 
				<a target="_blank" href="https://www.instagram.com/sergey.romanenko/" class="underline mr-2">Instagram</a>
				<a target="_blank" href="https://stepik.org/users/561566563/profile" class="underline">Stepik</a>
			</p>
			<p class="font-bold text-xs uppercase">Работает на <a href="https://astro.build/" class="underline">Astro</a>. Хостинг от <a href="http://www.smartape.ru/?partner=146659" class="underline">SmartApe</a>.</p>
			<p class="font-bold text-xs m-0">&copy; SERGEY ROMANENKO. ALL RIGHTS RESERVED.</p>
		</footer>
		<!-- Yandex.Metrika counter -->
		<script type="text/javascript" >
			(function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
			m[i].l=1*new Date();
			for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
			k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
			(window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
		
			ym(95236209, "init", {
				clickmap:true,
				trackLinks:true,
				accurateTrackBounce:true
			});
		</script>
		<noscript><div><img src="https://mc.yandex.ru/watch/95236209" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
		<!-- /Yandex.Metrika counter -->
	</body>
</html>
<style is:global>
	@tailwind base;
	@tailwind components;
	@tailwind utilities;

	html {
		font-family: Graphik, sans-serif;
		font-weight: 300;
	}
	
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}

	p {
		margin-bottom: 20px;
	}

	ol {
		list-style: decimal!important;
		margin-left: 40px!important;
	}
</style>